body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.app {
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-areas:
    "header"
    "main";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.nav {
  margin: 20px;
}
.nav__link {
  padding: 20px;
}
.main {
  grid-area: main;
  justify-content: center;
  padding: 2vw;
}
.graph {
  max-width: 400px;
}
.graph__fullscreen {
  max-width: 100vh;
}
.message {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

/* .message.show { */
.message {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.VotesRoute {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1vw;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
